* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* common */
body {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image:
    linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
    font-family: 'Lato', sans-serif;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.z-index-100 {
    z-index: 100;
}

/* main */
.container {
    margin: auto;
    width: 80%;
    min-width: 950px;
    height: 95%;
}

/* dimensioni cols*/
.sx-col, .dx-col {
    float: left;
    height: 100%;
}

.sx-col {
    width: 35%;
    background: #E6DFD6;
    border-right: 1px solid #D6D6D6;
}

.dx-col {
    width: 65%;
}

/* colonna sinistra */
.header-sx, .header-dx {
    width: 100%;
    height: 70px;
    background: #EAEAEA;
}

.header-sx .header-sx-logo,
.header-sx .header-sx-icons,
.header-dx .header-dx-logo,
.header-dx .header-dx-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50%;
    height: 100%;
}

.header-sx .header-sx-logo h3 {
    margin-left: 5px;
    font-size: 90%;
}

.header-sx .header-sx-logo img,
.header-dx .header-dx-logo img {
    width: 50px;
    height: 50px;
    margin: auto 0 auto 10px;
    border-radius: 100%;
}

.header-sx .header-sx-logo,
.header-dx .header-dx-logo {
    float: left;
}

.header-sx .header-sx-icons,
.header-dx .header-dx-icons {
    float: right;
    width: auto;
    margin-right: 15px;
    text-align: right;
}

.header-sx .header-sx-icons i,
.header-dx .header-dx-icons i {
    margin: auto 10px;
    color: rgb(177, 177, 177);
    font-size: 22px;
}

.header-dx h3 {
    margin-left: 15px;
    font-size: 16px;
    font-weight: normal;
}

.header-dx h3 small {
    color: #6B7376;
}

.sx-disclaimer {
    display: flex;
    width: 100%;
    height: 80px;
    background: #8EDAFC;
}

.sx-disclaimer .sx-disclaimer-logo {
    width: 50px;
    height: 50px;
    margin: auto 0 auto 20px;
    background: #F2FBFF;
    border-radius: 100%;
    text-align: center;
    color: #8EDAFC;
    line-height: 50px;
    font-size: 20px;
}

.sx-disclaimer .sx-disclaimer-text {
    width: calc(100% - 50px);
    height: auto;
    margin: auto;
    padding: 0 10px;
}

.sx-disclaimer .sx-disclaimer-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.sx-disclaimer .sx-disclaimer-text a {
    color: #4F7485;
    font-size: 13.5px;
}

.sx-searchbar {
    width: 100%;
    height: 50px;
    background: #FAFAFA;
}

.sx-searchbar .sx-searchbar-input {
    float: right;
    width: calc(85% - 7px);
    height: 36px;
    margin: 7px 7px 7px 0;
    padding: 0 10px;
    border: 1px solid #F5F5F5;
    border-left: 0;
    border-radius: 0px 3px 3px 0;
    color: #B6B9BB;
}

.sx-searchbar .search-label {
    display: inline-block;
    width: calc(15% - 7px);
    height: 36px;
    margin: 7px 0 7px 7px;
    border: 1px solid #F5F5F5;
    border-right: 0;
    background: #fff;
    line-height: 36px;
    text-align: center;
    color: #B6B9BB;
}

.sx-col .contacts {
    width: 100%;
    height: calc(100% - 70px - 50px - 80px);
    background: #fff;
    overflow-y: scroll;
}

.sx-col .contacts .contact {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #F5F5F5;
}

.sx-col .contacts .contact:hover {
    background: #f4f5f5;
}

.sx-col .contacts .contact.active {
    border-bottom-color: transparent;
    background: #E9EBEB;
}

.sx-col .contacts .contact .contact-logo {
    width: 60px;
    height: 60px;
    margin: auto 20px;
    border-radius: 100%;
    overflow: hidden;
}

.sx-col .contacts .contact .contact-logo img {
    width: 100%;
    height: 100%;
}

.sx-col .contacts .contact .contact-info {
    width: calc(100% - 100px);
    height: 60px;
    margin: auto 10px auto 0;
}

.sx-col .contacts .contact .contact-info h3 {
    font-size: 17px;
    font-weight: normal;
}

.sx-col .contacts .contact .contact-info span.f-right {
    color: #B6B9BB;
    font-size: 12px;
    font-weight: lighter;
}

.sx-col .contacts .contact .contact-info small {
    color: #B6B9BB;
    margin-top: 10px;
}

/* col destra */
.dx-col {
    position: relative;
}

.dx-col .dx-messages-container {
    width: 100%;
    height: calc(100% - 70px - 70px);
}

.dx-col .dx-messages {
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}


.dx-col .dx-messages .message {
    position: relative;
    margin: 5px 0;
    padding: 15px 15px 20px 15px;
    min-width: 40%;
    max-width: 60%;
    background: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.dx-col .dx-messages .message::after {
    content: '';
    display: table;
    overflow: hidden;
    clear: both;
}

.dx-col .dx-messages .message:hover .message-options,
.dx-col .dx-messages .message .message-options.active {
    display: block;
}

.dx-col .dx-messages .message .message-options-panel {
    position: absolute;
    right: 0;
    bottom: -75px;
    width: 150px;
    height: 80px;
    background: white;
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
}

.dx-col .dx-messages .message .message-options-panel.active {
    display: block;
}

.dx-col .dx-messages .message .message-options-panel>div {
    cursor: pointer;
    width: 100%;
    height: 50%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

.dx-col .dx-messages .message .message-options-panel>div:hover {
    color: #B6B9BB;
}

.dx-col .dx-messages .message .message-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: #B6B9BB;
}

.dx-col .dx-messages .message.received {
    background: white;
    float: left;
    clear: both;
}

.dx-col .dx-messages .message.sent {
    background: #D5F9BA;
    float: right;
    clear: both;
}

.dx-col .dx-footer {
    background-color: #F3EEEA;
    width: 100%;
    height: 70px;
}

.dx-col .dx-footer .new-message-inputs {
    width: 80%;
    height: 50px;
    margin: 10px 0;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: lighter;
}

.dx-col .dx-footer .dx-footer-icon {
    width: 10%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #6B7376;
}